<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recent Reviews</title>
    </head>
    <body>
        <h1>Welcome, {{ request.session.name }}</h1>
        <a href="/">Logout</a>
        <a href="/add_review">Add Book and Review</a>
        {% for review in reviews %}
            <p><a href="/books/{{ review.book.id }}">{{ review.book.title }}</a></p>
            <p>Rating: {{ review.rating }}</p>
            <p><a href="users/{{ review.user_id }}">{{ review.user.first_name }}</a> says: {{ review.review }}</p>
            <p>Posted on {{ review.created_at }}</p>
            {% if review.user_id == request.session.id %}
                <form action="/delete/{{ review.id }}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="submit" value="Delete this Review">
                </form>
            {% endif %}
            <br>
        {% endfor %}
        <h1>Other Books with Reviews</h1>
        {% for review in book_reviews %}
            <p><a href="/books/{{ review.book.id }}">{{ review.book.title }}</a></p>
        {% endfor %}
    </body>
</html>
